/***
*Document Box 
*/
#feedback-form input[type=email],#feedback-form input[type=text],#feedback-form input[type=password],#feedback-form input[type=search]{
	width: 18em;
}

select.ui.dropdown {
	width: 18em;
}



.tabheading {
	color: #2085C5;
	text-align: center;
	text-indent: inherit;
	margin: 0 0 1em 0;
	line-height: 1.6em;
}

.tabp {
	margin: 0 0 1em 0;
	line-height: 1.6em;
	color: #47525d;
}



#accordin_sd {
	background: beige;
}

.blue-bullets {
	margin: 0 0 0 0.5em;
	padding: 0;
}

p {
	display: block;
	-webkit-margin-before: 1em;
	-webkit-margin-after: 1em;
	-webkit-margin-start: 0px;
	-webkit-margin-end: 0px;
}

.lbraryheading {
	font-size: 30px;
	margin-left: 25%;
	margin-right: 25%;
	text-transform: capitalize;
	text-align: center;
	color: #FFF;
	text-indent: 1.2em;
}

.subheading {
	font-size: 15px;
	text-indent: 1.5em;
	margin-left: 25%;
	line-height: 2em;
	margin-right: 25%;
	text-transform: capitalize;
	text-align: center;
	color: #FFF;
	margin-right: 25%;
}

.pclass {
	font-size: 14px;
	font-family: sans-serif;
	color: black;
	text-align: justify;
	text-indent: .3em;
}

.heading {
	font-family: "Roboto Slab", sans-serif;
	color: #06476b;
	font-size: 20px;
	margin-top: 0px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	padding-bottom: 17px;
	margin-bottom: 18px;
	border-color: orange;
}

.tabs-menu {
	float: left;
	clear: both;
}

.contactus {
	position: relative;
	padding-top: 20%;
	height: 60%;
	background-color: rgba(30, 53, 78, .7);
}

.maintitle {
	padding-top: 20%;
	font-size: 58px;
	margin-left: 20%;
	margin-right: 25%;
	text-transform: capitalize;
	text-align: center;
	color: #FFF;
	text-indent: 1.2em;
	padding-bottom: 20px;
}





.title {
	font-size: 38px;
	margin-left: 25%;
	margin-right: 25%;
	text-transform: capitalize;
	text-align: center;
	color: #FFF;
	text-indent: 1.2em;
}

.contactus-banner {
	color: #fff;
	background: #0890c4 none repeat scroll 0% 0%;
	border-top: 1px solid #FFF;
	font-size: 12px;
	width: 100%;
	margin-bottom: 20px;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	/* IE 8 */
	filter: alpha(opacity = 50); /* IE 5-7 */
	-moz-opacity: 0.5; /* Netscape */
	-khtml-opacity: 0.5; /* Safari 1.x */
	opacity: 0.6; /* Good browsers */
}

.contactus-banner .navbar-nav>li {
	text-align: center;
	display: inline-block;
	margin-left: 18px;
	margin-right: 18px;
	padding-left: 150px;
	padding-right: 50px;
}

.contactus-banner .navbar-nav {
	margin-right: 10px !important;
	position: relative;
	transition: all 0.4s ease-in-out;
	-moz-transition: all 0.4s ease-in-out;
	-webkit-transition: all 0.4s ease-in-out;
	-o-transition: all 0.4s ease-in-out;
}

.contactus-banner .navbar-nav>li>a:after {
	position: absolute;
	bottom: 0;
	content: '';
	left: 50%;
	display: list-item;
	height: 1px;
	width: 5px;
	opacity: 0;
	margin: 0 0 -3px -2px;
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	transform: rotate(45deg);
	position: absolute;
}

.searchbanner {
	padding: 15px 20px;
	color: #777;
	background-color: #FAFAFA;
	border-top: 1px solid #FFF;
	border-bottom: 1px solid #E5E5E5;
	font-size: 20px;
	margin-top: 30px;
}

.addsearchbanner {
	padding: 15px 20px;
	color: #777;
	background-color: #FAFAFA;
	border-top: 1px solid #FFF;
	border-bottom: 1px solid #E5E5E5;
	font-size: 20px;
	margin-top: 0px;
}

.contactus-banner a {
	text-align: center;
	color: #fff;
}

.contactus-banner p {
	font-family: "Roboto Slab", sans-serif;
}

.search-banner {
	
}

.search-content {
	position: relative;
	padding-top: 20%;
	padding-top: 20%;
	height: 80%;
	background: rgba(30, 53, 78, .7);
}

.search-add-new {
	position: relative;
	padding-top: 20px;
	background-image: linear-gradient(89deg, #30BDED 0px, beige 100%);
}

.container-new {
	position: relative;
	margin-top: -10px;
}

.searchingProgess {
	position: relative;
	margin-left: 50%;
}

.search-heading {
	font-size: 10px;
	color: orange;
	text-align: center;
}

.search-result {
	position: relative;
	margin-bottom: 10%;
}

.document {
	postion: relative;
	background: white;
	border-color: #e3e3e3;
	color: #666;
	font: 14px/24px "Source Code Pro", Inconsolata, "Lucida Console",
		Terminal, "Courier New", Courier, "Roboto Slab", sans-serif;
	display: inline-block;
	height: 263px;
	text-align: left;
	width: 200px;
	border-radius: 5px;
	padding-left: 12px;
	padding-right: 12px;
	padding-top: 12px;
	border-bottom: 1px solid orange;
	border-left: 1px solid orange;
	border-right: 1px solid orange;
	border-top: 1px solid orange;
	box-sizing: border-box;
	margin-left: 25px;
	margin-bottom: 25px;
	margin-top: 25px;
}

.document p {
	position: relative;
	font-size: 12px;
	font-size: .8vw;
	text-transform: capitalize;
	font-size: 1vh;
}

fieldset,label {
	margin: 0;
	padding: 0;
}
/****** Style Star Rating Widget *****/
.rating {
	border: none;
	float: left;
}

.rating>input {
	display: none;
	padding-left: 5px;
}

.rating>label:before {
	margin: 5px;
	font-size: 1.25em;
	font-family: Fontawesome;
	display: inline-block;
	content: "\f005";
}

.rating>label {
	color: #ddd;
	float: right;
	width: 15%;
	margin-left: 8px;
}
/***** CSS Magic to Highlight Stars on Hover *****/
.rating>input:checked ~ label, /* show gold star when clicked */ .rating:not
	 (:checked ) >label:hover, /* hover current star */ .rating:not (:checked
	 ) >label:hover ~ label {
	color: #FFD700;
} /* hover previous stars in list */
.rating>input:checked+label:hover,
	/* hover current star when changing rating */ .rating>input:checked ~
	label:hover,.rating>label:hover ~ input:checked ~ label,
	/* lighten current selection */ .rating>input:checked ~ label:hover ~
	label {
	color: #FFED85;
}
/****
*
*/
.document h1 {
	font-size: 12px;
	font-size: .8vw;
	text-transform: capitalize;
	font-size: 1.2vh;
}

.document .document-header {
	position: relative;
	height: 30px;
	text-align: center;
	border-bottom: 1px solid #bbe8f9;
}

.document-body {
	position: relative;
	height: 160px;
	text-align: left;
	border-color: red;
	border-bottom: 1px solid #bbe8f9;
}

.document-footer {
	font-size-adjust: 0.58;
	position: relative;
	margin-top: 5px;
	height: 30px;
	text-align: center;
}

.document:hover {
	box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.2);
}
/****
*Document rating div
*
****/
.document-rating {
	position: relative;
	height: 30px;
	margin-top: 5px;
	border-bottom: 1px solid #bbe8f9;
}

@media ( min-width : 480px) {
	.lbraryheading {
		font-size: 20px;
		margin-left: 20%;
		margin-right: 20%;
		text-transform: capitalize;
		text-align: center;
		color: #FFF;
		text-indent: 1.2em;
	}
	.subheading {
		font-size: 15px;
		text-indent: 1.5em;
		margin-left: 25%;
		line-height: 2em;
		margin-right: 25%;
		text-transform: capitalize;
		text-align: center;
		color: #FFF;
		margin-right: 25%;
	}
	.pclass {
		font-size: 14px;
		font-family: sans-serif;
		color: black;
		text-align: justify;
		text-indent: .3em;
	}
}


@media(min-width:300px) and (max-width: 1200px) {
	.maintitle {
		padding-top: 30%;
		font-size: 38px;
		margin-left: -5%;
		margin-right: 1%;
		text-transform: capitalize;
		text-align: center;
		color: #FFF;
		width: 100%;
		padding-bottom: 50px;
	}
}
/***
*Responsive
*/
@media ( min-width : 300px) and (max-width: 480px) {
	.rating>label {
		color: #ddd;
		float: right;
		width: 15%;
		margin-left: 10px;
		padding-left: 8px;
	}
	.search-content {
		position: relative;
		background-image: linear-gradient(89deg, #30BDED 0px, beige 100%);
		padding-top: 60%;
		margin-top: 30px;
		height: 90%;
	}
	.search-heading {
		font-size: 10px;
		color: orange;
		text-align: center;
		padding-left: 10px;
		padding-bottom: 80px;
	}
	.search-result {
		margin-bottom: 10%;
		padding-bottom: 50px;
	}
	.document {
		position: relative;
		width: 250px;
		margin-left: 58px;
		margin-right: 68px;
	}
	.document-footer {
		margin-top: 5px;
		height: 60px;
		text-align: center;
		border-bottom: 1px solid #bbe8f9;
	}
	.searchingProgess {
		position: relative;
		margin-left: 50%;
		padding-bottom: 50px;
	}
	.aboutus-banner .nav>li>a {
		position: relative;
		display: inline-block;
		padding: 5px 5px;
	}
	.aboutus-banner ul.nav.nav-tabs>li {
		text-align: center;
		display: inline-block;
		margin-left: 15px;
		padding-left: 2px;
		padding-right: 0px;
	}
	.lbraryheading {
		padding-top: 80px;
		font-size: 18px;
		margin-left: 18%;
		margin-right: 18%;
		text-transform: capitalize;
		text-align: center;
		color: #FFF;
		font-size: 18px;
	}
	.subheading {
		font-size: 12px;
		text-indent: 1.5em;
		margin-left: 25%;
		line-height: 2em;
		margin-right: 25%;
		text-transform: capitalize;
		text-align: center;
		color: #FFF;
		margin-right: 25%;
	}
	.pclass {
		font-size: 14px;
		font-family: sans-serif;
		color: black;
		text-align: justify;
		text-indent: .3em;
	}
	.heading {
		font-family: "Roboto Slab", sans-serif;
		color: #06476b;
		font-size: 20px;
		margin-top: 0px;
		border-bottom-width: 1px;
		border-bottom-style: solid;
		padding-bottom: 17px;
		margin-bottom: 18px;
		border-color: orange;
	}
	
	.title {
		margin-top: 30%;
		font-size: 18px;
		margin-left: 25%;
		margin-right: 25%;
		text-transform: capitalize;
		text-align: center;
		color: #FFF;
		text-indent: 1.2em;
	}
	.ui[class*="center aligned"].grid {
		margin-right: 40px;
		margin-left: -30px;
		padding-left: -40px;
	}
	.ui.form input:not ([type] ), .ui.form input[type=number],.ui.form input[type=text],.ui.form input[type=email],.ui.form input[type=search],.ui.form input[type=password],.ui.form input[type=date],.ui.form input[type=datetime-local],.ui.form input[type=tel],.ui.form input[type=time],.ui.form input[type=url]
		{
		width: 210px;
	}
	.ui.form select {
		display: block;
		height: auto;
		width: 242px;
		background: #fff;
		border: 1px solid rgba(39, 41, 43, .15);
		border-radius: .2857rem;
		box-shadow: 0 0 0 0 transparent inset;
		padding: .62em 1em;
		color: rgba(0, 0, 0, .8);
		-webkit-transition: background-color .2s ease, color .2s ease,
			box-shadow .2s ease, border-color .2s ease;
		transition: background-color .2s ease, color .2s ease, box-shadow .2s
			ease, border-color .2s ease;
	}
	.ui.form textarea,.ui.textarea {
		margin: 0;
		-webkit-appearance: none;
		tap-highlight-color: rgba(255, 255, 255, 0);
		padding: .78571em 1em;
		background: #fff;
		border: 1px solid rgba(39, 41, 43, .15);
		outline: 0;
		color: rgba(0, 0, 0, .8);
		border-radius: .2857rem;
		box-shadow: 0 0 0 0 transparent inset;
		-webkit-transition: background-color .2s ease, color .2s ease,
			box-shadow .2s ease, border-color .2s ease;
		transition: background-color .2s ease, color .2s ease, box-shadow .2s
			ease, border-color .2s ease;
		font-size: 1em;
		height: 12em;
		min-height: 8em;
		max-height: 24em;
		width: 242px;
		line-height: 1.2857;
		resize: vertical;
		line-height: 1.2857;
	}
	.row {
		margin-right: 10px;
		margin-left: -15px;
	}
}
/****
*About us banner
*/
.aboutus-content {
	position: relative;
	background-color: rgba(30, 53, 78, .7);
	padding-top: 13%;
	margin-top: 20px;
	height: 50%;
	filter: alpha(opacity = 50); /* IE 5-7 */
	-moz-opacity: 0.5; /* Netscape */
	-khtml-opacity: 0.5; /* Safari 1.x */
	opacity: 1.0; /* Good browsers */
}

.aboutus-banner {
	color: #fff;
	background: #0890c4 none repeat scroll 50% 0%;
	border-top: 0px solid #FFF;
	font-size: 13px;
	width: 100%;
	margin-bottom: 25px;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	/* IE 8 */
	filter: alpha(opacity = 50); /* IE 5-7 */
	-moz-opacity: 0.5; /* Netscape */
	-khtml-opacity: 0.5; /* Safari 1.x */
	opacity: 5.0; /* Good browsers */
}

.aboutus-banner .nav-tabs>li {
	text-align: center;
	display: inline-block;
	margin-left: 16px;
	margin-right: 18px;
	padding-left: 150px;
	padding-right: 50px;
}

.aboutus-banner .nav-tabs {
	margin-right: 10px !important;
	position: relative;
	transition: all 0.4s ease-in-out;
	-moz-transition: all 0.4s ease-in-out;
	-webkit-transition: all 0.4s ease-in-out;
	-o-transition: all 0.4s ease-in-out;
}

.aboutus-banner a {
	text-align: center;
	color: #fff;
	display: inline-block;
	text-shadow: 0 1px 0 rgba(255, 255, 255, .25);
}

.aboutus-content {
	
}

.content-page {
	position: relative;
	width: 90%;
	padding-left: 100px;
	margin-bottom: 20px;
}
/****
*Contact Us banner
*
*/
.contactus-content {
	position: relative;
	background-image: linear-gradient(89deg, #30BDED 0px, beige 100%);
	padding-top: 20%;
	margin-top: 20px;
	height: 50%;
}

.fqq-content {
	position: relative;
	background-image: linear-gradient(89deg, #30BDED 0px, beige 100%);
	padding-top: 20%;
	margin-top: 20px;
	height: 50%;
}

@media only screen and (min-device-width : 320px) and (max-device-width
	: 480px) { /* Smartphones (portrait and landscape) ----------- */
}

@media only screen and (min-width : 321px) {
	/* Smartphones (landscape) ----------- */
}

@media only screen and (max-width : 320px) {
	/* Smartphones (portrait) ----------- */
}

@media only screen and (min-device-width : 768px) and (max-device-width
	: 1024px) { /* iPads (portrait and landscape) ----------- */
}

@media only screen and (min-device-width : 768px) and (max-device-width
	: 1024px) and (orientation : landscape) {
	/* iPads (landscape) ----------- */
}

@media only screen and (min-device-width : 768px) and (max-device-width
	: 1024px) and (orientation : portrait) {
	/* iPads (portrait) ----------- */
}

@media only screen and (min-width : 1200px) {
	/* Desktops and laptops ----------- */
}

@media only screen and (min-width : 1700px) {
	/* Large screens ----------- */
}

@media only screen and (-webkit-min-device-pixel-ratio : 1.5) , only
	screen and (min-device-pixel-ratio : 1.5) { /* iPhone 4 ----------- */
}

@media only screen and (min-device-width : 320px) and (max-device-width
	: 480px) { /* Smartphones (portrait and landscape) ----------- */
}

@media only screen and (min-device-width:480px) and
	(max-device-width:780px) {
	.maintitle {
		padding-top: 30%;
		font-size: 38px;
		margin-left: -1%;
		margin-right: 1%;
		text-transform: capitalize;
		text-align: center;
		color: #FFF;
		width: 100%;
		padding-bottom: 50px;
	}
}

}
@media only screen and (min-width : 321px) {
	/* Smartphones (landscape) ----------- */
}

@media only screen and (max-width : 320px) {
	/* Smartphones (portrait) ----------- */
}

@media only screen and (min-device-width : 768px) and (max-device-width
	: 1024px) { /* iPads (portrait and landscape) ----------- */
}

@media only screen and (min-device-width : 768px) and (max-device-width
	: 1024px) and (orientation : landscape) {
	/* iPads (landscape) ----------- */
}

@media only screen and (min-device-width : 768px) and (max-device-width
	: 1024px) and (orientation : portrait) {
	/* iPads (portrait) ----------- */
}

@media only screen and (min-width : 1200px) {
	/* Desktops and laptops ----------- */
}

@media only screen and (min-width : 1700px) {
	/* Large screens ----------- */
}

@media only screen and (-webkit-min-device-pixel-ratio : 1.5) , only
	screen and (min-device-pixel-ratio : 1.5) { /* iPhone 4 ----------- */
}