/* adjust body when menu is open */
body.slide-active {
	overflow-x: hidden
}
/*first child of #page-content so it doesn't shift around*/
.no-margin-top {
	margin-top: 0px !important
}
/*wrap the entire page content but not nav inside this div if not a fixed top, don't add any top padding */
#page-content.slide-active {
	padding-top: 0
}

/* put toggle bars on the left :: not using button */
#slide-nav .navbar-toggle {
	cursor: pointer;
	position: relative;
	line-height: 0;
	float: left;
	margin: 0;
	margin-top:7px;
	width: 30px;
	height: 40px;
	padding: 10px 0 0 0;
	border: 1px;
}

/* icon bar prettyup - optional */
#slide-nav .navbar-toggle>.icon-bar {
	width: 100%;
	display: block;
	height: 3px;
	margin: 5px 0 0 0;
}

#slide-nav .navbar-toggle.slide-active .icon-bar {
	background: orange
}

.navbar-header {
	position: relative
}

/* un fix the navbar when active so that all the menu items are accessible */
.navbar.navbar-fixed-top.slide-active {
	position: relative
}
/* screw writing importants and shit, just stick it in max width since these classes are not shared between sizes */
@media ( max-width :767px) {
	#slide-nav .container {
		margin: 0;
		text-align: left;
		padding: 0 !important;
	}
	#slide-nav .navbar-header {
		margin: 0 auto;
		padding: 0 15px;
	}
	#slide-nav .navbar.slide-active {
		position: absolute;
		width: 80%;
		top: -1px;
		text-align: left;
		height: 100%;
		z-index: 1000;
	}
	#slide-nav #slidemenu {
		left: -50%;
		width: 40%;
		min-width: 0;
		color:white;
	
		font-family:sans-serif;;
		position: absolute;
		padding-left: 0;
		text-align: left;
		z-index: 2;
		margin-top: 3px;
		height:700px;
		background: none repeat scroll 0% 0% #009cde;
	}
	#slide-nav #slidemenu .navbar-nav {
		min-width: 0;
		width: 100%;
		margin-top: 0px;
		text-align: left;
		height: 100%;
	}
	#slide-nav #slidemenu .navbar-nav .sideUL li a {
		background: none repeat scroll 0% 0% #009cde;
		min-width: 0;
		width: 100%;
		padding-left:30px;
		font-size:15px;
		color: #fff;
		display: list-item;
	}
	
	#slide-nav {
		border-top: 0;
		
	}
	#slide-nav.navbar-inverse #slidemenu {
		background: none repeat scroll 0% 0% #06476B;
	}
	/* this is behind the navigation but the navigation is not inside 
	it so that the navigation is accessible and scrolls*/
	#slide-nav #navbar-height-col {
		position: fixed;
		margin-top: 50px;
		height: 100%;
		width: 50%;
		left: -80%;
		background: #eee;
	}
	#slide-nav.navbar-inverse #navbar-height-col {
		background: none repeat scroll 0% 0% #06476B;
		z-index: 1;
		border: 0;
	}
	#slide-nav .navbar-form {
		width: 100%;
		margin: 15px 0;
		text-align: center;
		overflow: hidden;
		/*fast clearfixer*/
	}
	#slide-nav .navbar-form .form-control {
		text-align: center
	}
	#slide-nav .navbar-form .btn {
		width: 100%
	}
}

@media ( min-width :768px) {
	#page-content {
		left: 0 !important
	}
	.navbar.navbar-fixed-top.slide-active {
		position: fixed
	}
	.navbar-header {
		left: 0 !important
	}
}

@media ( min-width : 220px) and (max-width: 767px) {
	.span {
		font-size: 8px;
	}
	#login-form {
		width: 100%;
		margin-right: 0; #
		margin-left: 8px;
		display: inline
	}
	
	
}

.logo {
	float: none;
	margin-top: 15px;
	text-align: left;
	display: block;
	width: auto;
	font-family: 'Open Sans', sans-serif;
	font-size: 13px;
	font-size: 21px;
	font-style: bold;
	font-weight: 300;
}

@media screen and (min-width:320px) {
	.logo {
		float: none;
		margin-top: 15px;
		text-align: center;
		display: block;
		width: auto;
		font-family: 'Open Sans', sans-serif;
		font-size: 13px;
		font-size: 21px;
		font-style: bold;
		font-weight: 300;
	}
	a {
		text-align: left;
		font-size: 11px;
	}
	.sidebar {
		position: absolute;
		left: 0;
		top: 1px;
		bottom: 0;
		width: 178px;
		margin-left: -10px;
		float: left;
		overflow: hidden;
		background: #2c3e50;
		background: rgba(44, 62, 80, 0.4);
		color: #eee;
		min-height: 600px;
	}
}

@media ( max-width : 1200px) {
	.navbar-default .navbar-toggle,.navbar-default .navbar-toggle:hover,.navbar-default .navbar-toggle:focus
		{
		background: #fff;
		padding: 8px 5px 6px 5px;
	}
	.navbar-default .navbar-toggle i {
		color: #fff;
		font-size: 2em;
		position: absolute;
		left: 0;
		top: 92px;
		bottom: 0;
		width: 178px;
	}
	.quote-buttons span {
		margin: 0 2px;
	}
}

@media ( max-width : 991px) {
	.contact-details {
		display: none !important;
	}
	.navbar-brand {
		padding: 25px 15px;
	}
	.navbar-default .navbar-nav {
		margin: 0 !important;
		top: 0;
	}
	.copyright-section {
		text-align: center;
	}
	ul.footer-nav {
		display: block;
		float: none !important;
		text-align: center;
		margin-top: 10px;
	}
	ul.footer-nav li {
		display: inline-block;
		float: none;
		margin-left: 15px;
	}
	.page-banner {
		text-align: center;
	}
}

@media only screen and (max-width: 480px) {
	.navbar-default .navbar-nav {
		padding: 15px 0;
		display: block;
	}
	
	
	.navbar-default .navbar-nav>li>a {
		border: none;
		padding: 5px 10px;
		display: block;
		border: none !important;
		padding-right: 0;
		color: #fff;
		
	}
	.navbar-default .navbar-nav>li>a:after {
		display: none;
	}
	.navbar-default .navbar-nav>li>a:hover {
		opacity: 0.7;
	}
	.navbar-default .navbar-nav>li {
		margin-left: 0;
		display: block;
		margin-bottom: 5px;
		width: 100%
	}
	.navbar-default .navbar-nav>li.drop>a {
		padding-right: 10px;
	}
	.navbar-default .navbar-nav>li.drop>a {
		border-radius: 2px;
	}
	ul.dropdown,ul.sup-dropdown {
		opacity: 1 !important;
		position: relative !important;
		visibility: visible !important;
		width: 100% !important;
		top: inherit !important;
		left: 0 !important;
		margin-top: 0 !important;
		background: #fff !important;
		padding-left: 20px !important;
		box-shadow: none !important;
	}
	ul.dropdown li,ul.sup-dropdown li {
		border-top: none;
	}
}