/***
*Document Box 
*/


.search-banner {
	 
    
	
}


.search-content {
	position: relative;
	background-image: linear-gradient(89deg, #30BDED 0px, beige 100%);
	padding-top:20%;
	margin-top: 20px;
    height: 80%;
    
   	
}


.search-add-new{
	position: relative;
	padding-top:20px;
    background-color: beige;
   	
}


.container-new{
	position:relative;
	padding-top:25%;
	margin-top: 40px;
    height: 37%;
	background-color: beige;
  
}


.searchingProgess{
	position:relative;
	margin-left: 50%;	
}
.search-heading {
	font-size: 10px;
	color: orange;
	text-align: center;
	
}

.search-result {
	position:relative;
	margin-bottom: 10%;
	
}

.document {
	postion: relative;
	background: white;
	border-color: #e3e3e3;
	color: #666;
	font: 14px/24px "Source Code Pro", Inconsolata, "Lucida Console",
		Terminal, "Courier New", Courier;
	display: inline-block;
	height: 228px;
	text-align: left;
	width: 200px;
	border-radius: 5px;
	padding-left: 12px;
	padding-right: 12px;
	padding-top: 12px;
	border-bottom: 1px solid orange;
	border-left: 1px solid orange;
	border-right: 1px solid orange;
	border-top: 1px solid orange;
	box-sizing: border-box;
	margin-left: 25px;
	margin-bottom: 25px;
	margin-top: 25px;
	

}

.document p {
	position:relative;
	font-size: 12px; 
	font-size: 1vw;
	text-transform: capitalize;	
	font-size: 1.5vh;

}

/****
*
*/
.document h1{
	font-size:12px; 
	font-size: .8vw;
	text-transform: capitalize;
	font-size: 1.2vh;

}
.document .document-header {
	position:relative;
	height: 30px;
	text-align: center;
	border-bottom: 1px solid #bbe8f9;
}

.document-body {
	position:relative;
	height: 160px;
	text-align: left;
	border-color: red;
	border-bottom: 1px solid #bbe8f9;
}

.document-footer {
	font-size-adjust: 0.58;	
	position:relative;
	
	margin-top: 5px;
	height: 30px;
	text-align: center;
}


.document:hover {
	box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.2);
}



/****
*Document rating div
*
****/

.document-rating{
	
	
}

/***
*Responsive
*/

@media ( min-width : 320px) and (max-width: 480px) {

.search-content {
	position: relative;
	background-image: linear-gradient(89deg, #30BDED 0px, beige 100%);
	padding-top:60%;
	margin-top: 30px;
    height: 90%;
   	
}	


.search-heading {
	font-size: 10px;
	color: orange;
	text-align: center;
	padding-left: 10px;
	padding-bottom: 80px;
	
}

.search-result {
	margin-bottom: 10%;
	padding-bottom: 50px;
}

	
.document{
	position:relative;
	width: 250px;
	margin-left: 58px;
	margin-right: 68px;
	
	
}	



.document-footer {
	
	margin-top: 5px;
	height: 60px;
	text-align: center;
	border-bottom: 1px solid #bbe8f9;
	
}


.searchingProgess{
	position:relative;
	
	margin-left: 50%;	
	padding-bottom: 50px;
}

}